*{
    margin: 0;
    padding: 0;
}

#main{
display: flex;
flex-direction: row;
justify-content:space-between;
align-items: center;
padding-top: 10px;
background-color: lightblue;
border: 2px solid lightgreen;
border-radius: 10px;
}
#maining_heading{
    margin-left: 600px;
    align-self: center;
    align-content: center;

}

#searheader{
    align-self: flex-end;
    margin: 30px;
    margin: 5px;
    font-size: 20px;
    width: 20%;
}
#search{
    border: none;
    background-color:rgb(110, 176, 172);
    padding: 5px;
    border-radius: 5px;
    width: 60%;
    margin: 5px;
}
#passwordsList{
    display: flex;
    justify-content: space-around;
    margin: 30px;
}
#passwordForm{
    font-size: 20px;
}

#title{
    border:2px solid lightblue;
    padding: 8px;
    width: 60%;
    border-radius: 5px;
}
#password{
    border:2px solid lightblue;
    padding: 8px;
    width: 60%;
    border-radius: 5px;
}
#show{
    width: 40%;
}
#show p{
    font-weight: bold;
    font-size: 20px;
}

#show ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;

}
form button{
    width: 20%;
}
button{
    width: 10%;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: lightgreen;
    font-size: 15px;
}
.delete{
    margin: 5px;
}
.edit{
    margin: 5px;
}

